<?xml version="1.0" ?>

<robot  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="config_dir" value="$(find etarob_new)" />
  <xacro:property name="tool_config" value="${load_yaml(config_dir + '/config/tool.yaml')}" />

  <xacro:property name="tool_name" value="${tool_config['tool_name']}" />


</robot>
